h1 {
  font-weight: 800;
  color: #262757;
  font-size: 2rem;
}

h2 {
  font-weight: 750;
  color:  #E66371;
  font-size: 1.8rem;
}

.yellowStatus {
  color: white;
  background-color: #F9BD7E;
  border-radius: 1em;
  padding: 0.4em;
  text-align: center;
}

.redStatus {
  color: white;
  background-color: #E66371;
  border-radius: 1em;
  padding: 0.4em;
  text-align: center;
}

.greenStatus {
  color: white;
  background-color: #6CB708;
  border-radius: 1em;
  padding: 0.4em;
  text-align: center;
}