/*
table {
  margin: auto;
  border-collapse: collapse;
}

div {
  display: flex;
  flex-direction: column;
  padding:  0.5em;
}

tr {
  border-bottom: 2px solid black;
}

th {
  padding: 0.5em;
}

td {
  padding:  0.5em;
}

p { 
  margin-top: 0;
  margin-bottom: 0;
}

button {
  display: block;
  font-size: 1em;
  border: 0;
  padding: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: lightgrey;

}

input {
  margin-bottom:  10px;
  margin-top:  10px;
  background-color: #F5F8FA;
  border-style:  solid;
  border-color:  #CBD6E2;
  text-align: center;
  border-radius: 0.5em;
  height: 2em;
}

textarea {
  background-color: #F5F8FA;
  border-style:  solid;
  border-color:  #CBD6E2;
  text-align: center;
  border-radius: 0.5em;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
}

header {
  text-align: right;
  font-weight: bold;
  padding-right: 2em;
}

select {
  margin-bottom:  10px;
  margin-top:  10px;
  background-color: #F5F8FA;
  border-style:  solid;
  border-color:  #CBD6E2;
  height: 2.5em;
  border-radius: 0.5em;
}

.yellowStatus {
  color: white;
  background-color: orange;
  border-radius: 1em;
  padding: 0.4em;
  text-align: center;
}

.verticalForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5em;
}

.redStatus {
  color: white;
  background-color: red;
  border-radius: 1em;
  padding: 0.4em;
  text-align: center;
}

.greenStatus {
  color: white;
  background-color: #1a8011;
  border-radius: 1em;
  padding: 0.4em;
  text-align: center;
}

.Box {
  margin:  auto;
  background-color: #F5F8FA;
  border-style: solid;
  border-color:  #CBD6E2;
  width: 50%;
  border-radius: 0.5em;
}

.NavBar {
  text-decoration: none;
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #329eb9;
  left: 0px;
  top:  0px;
}

.NavBar ul li{
  color: rgba(100, 100, 100, .3);
  text-align: left;
  padding: 15px 10px;
  list-style: none;
  list-style-type: none;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
}


.NavBar a{
  text-decoration: none;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
}

.flexible {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.entry-div {
  flex-grow: 1;
  margin-bottom: 30px;
}

.pageContent {
  padding-left: 220px;
}


.red {
  color: '#FF3E1D';

}

.green {
  color: '#71DD37';
}
*/
